
.classname {
    color: #333333;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img  {
  height: 100%; 
 
}

a {
  text-decoration: none;
  color: inherit;
  
 } 


body {
    background-color: #FFF6EA;
    
}
button { 
border: none;
background: none;

}
.header {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
  margin-bottom: 50px;
}

/*top section*/
.mainheader {
  position: relative;
  background-color: #203239;
  padding:0px 25px;
  width: 100%;
  height: 50px;

  
}


.searchbar {
  /*display: flex;*/
  display: inline-block;
  position: relative;
  border: solid rgba(39, 38, 38, 0.3);
  width: 45%;
  min-width: 250px;
  height: 80%;
  margin: 0px auto 0px 10px;
  bottom: 20px;
 

}

#search, #submit {
 border: none;
 background-color: transparent;
 resize: none;
 outline: none;
 font-size: large;

}

#search { 
  width: 80%;
  height: 100%;
  background-color: #f1f1f1;
  padding-left: 10px;
  border-radius: .3vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 
}
#submit {
  position: absolute;
  height: 100%;
  width: 20%;
  background-color: rgb(129, 169, 105);
  border-top-right-radius: .3vh;
  border-bottom-right-radius: .3vh;
}
#submit :hover {
  cursor: pointer;
  background-color: rgb(240, 255, 244);
}
i {
  position: absolute;
  right: 0;
  font-size: 40px;
 
}
.account-icon {
  right: 50px;
}

.company-name  {
    margin-top:1%;
    margin-left: 1%;
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size:large;
    letter-spacing: 3px;
    color: #FFFFFF;
    vertical-align: top;
    white-space:normal
}

.subheader {
  height: 30px;
  background-color:#E0DDAA;
  padding-top: 5px;
  text-align: center;
}



.categories {
display: inline;
margin:20px;
}

li a {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
 
  text-decoration: none;
  color: #1A3C40;
  height: 100%;
  font-size: larger;
}





.promo-slide {
    /*border: crimson solid;*/
    height: 50px;
    width: 200%;
    animation:slideshow1 10s infinite alternate;
   animation-timing-function: ease-in-out;
    
}

.item {
  margin-top: auto;
  margin-bottom: auto;
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: rgb(49, 71, 89);
    
}
.item:nth-child(1) {
    /*border: darkmagenta solid;*/
    float: left;
    color: turquoise;
    
}

.item:nth-child(2) {
    
    float: left;
    
}

.item > span:nth-child(1) {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.item > span:nth-child(2) {
    font-size: 2vh;
    font-weight: bolder;
    margin-right: 10px;
}

.item > span:nth-child(3) {
    font-size: 15px;
    font-style: italic;
    margin-right: 10px;
}

@keyframes slideshow1 {
    0% {margin-left: 100%}
    20% {margin-left: 0%}
    33.33% {margin-left: 0%}
    20% {margin-left: -100%}
    0% {margin-left: -100%}
  }

  .center-content{
    margin-left: auto;
    margin-right: auto;
    /*border: solid cyan;*/

    }

    

  .center-img {
      /*border: solid plum 5px;*/
     
      height: 100%;
      width: 100%;
  }
  .center-img > img {
      height: auto;
      width: 100%;
      
  }

  .center-img-text {
     box-shadow: 0px 0px 15px black;
     border-radius: 5px;
      background-color:rgba(102, 73, 73, 0.568);
      position: absolute;
      height: 30%;
      width: 50%;
      top:35%;
      right: 2%;
      padding: 0.5%;
      padding-top: 3%;
  }

  .center-img-text > p {
  color: aliceblue;
  font-family:  sans-serif;
 
}

.boardwalk {
    height: auto;
    width: 100%;
}
 .center-content {
            position: relative;
            font-size : 2.3vw;
            margin-bottom: 5%;
          
            overflow: hidden;
            
        }
        .productImg:hover {
            opacity: 0.7;
            
        }

        .modalBack {
            position: fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            background-color:rgba(50, 50, 50, 0.4);
            opacity: 0;
            pointer-events: none;
          
          }
          .modalBack:target {
            opacity: 1;
            pointer-events: auto;
            transition:ease-in 0.5s;
          }
          
          .modalFront {
            background-color: white;
            
            width: 80%;
            max-width: 700px;
            
            
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            margin-bottom: 3%;
            overflow: hidden;
          }
          
          .close {
            /*background-color: lightgray;*/
            padding:5px;
            position: fixed;
            top: 5px;
            right: 5px;
            text-decoration: none;
            color: rgb(50, 50, 50);
          }
          .close:hover {
           color:rgb(50,50,50);
            
          
          }
          .imgCont, .info {
            /*border: solid red;*/
           
            width: 100%;
           /* float: left;*/
            /*margin-top: 6%;*/
            margin-left: auto;
            margin-right: auto;
          
          }
          .info {
            height: 90%;  
            text-align: center;
            width: 100%;
          }
 
          .imgCont img {
            width: 100%;
            height: 100%;
           
          }
          
          .info p:nth-child(1) {
            text-align: center;
            font-size: 1.5em;
            margin-top: 2%;
          }
          
          
          .info p:nth-child(2) {
            font-size: 0.9em;
          
          }
          
          .info p:nth-child(3) {
            margin-top: 2em;
            text-align: center;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 10px;
           
          }
          .wasPrice {
            font-weight: bolder;
            text-decoration: line-through;
          }
          .nowPrice {
          font-weight: bolder;
          font-size: 1.2em;
          padding-left: 0.5em;
          color:red;}
          
          .add {
            background-color: rgb(50,50,50);
            color:lightgray;
            text-decoration: none;
            
            padding: 10px 20px;
          
          display: inline-block;
          text-align: center;
          margin-top: 1.2em;
          margin-bottom: 1.2em;
          
          }
          .add:hover {
            background-color: lightgray;
            color: rgb(50, 50,50);
          }
          
          .modalWindow {
            opacity: 0%;
          }
          
            .add-to-cart {
              /*border: solid rebeccapurple;*/
              margin-left: auto;
              margin-right: auto;
              width: 50%;
              height: 30%;
              text-align: center;
              
          
            }
            
            .add-to-cart button {
              background-color: rgb(192, 186, 176);
              color: white;
              height: 100%;
              width: 50%;
              
            }
            .add-to-cart button:hover {
              color: black;
              background-color: rgb(173, 127, 47);
              cursor: pointer;
            
              
            }
          
            .close {
              position: absolute;
              top: 2px;
              right: 0px;
              color: #f1f1f1;
              font-size: 40px;
              font-weight: bold;
              transition: 0.3s;
            }
          
            .close:hover {
                cursor:pointer;
            }
            footer {
              position: relative;
                height: 50px;
                background-color: #203239;
                
            }
            footer p{
              color: ivory;
              text-align: center;
            }
            .contact {
              position: absolute;
              height: 50px;
              width: fit-content;
              margin-right: 5%;
              top: 0;
              right: 0;
              
            }
            .contact img {
              height: 100%;
            }
            
           
          
            
        


/* phone's*/
  @media screen and (max-width: 767px){
       .product-container { 
          width: 100%;   
       }
       .productImg {
        height: 100%; 
       width: 100%;
        
       margin-bottom: 50px;
        /*border: solid green;*/
    
       }
       .product-container {
        /*border: saddlebrown solid;*/
       width: 100%;
       }
    }
  
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .boardwalk {
        height: auto;
        width: 100%;
    }
    .product-container {
        /*border: saddlebrown solid;*/
        
       width: 100%;
      
    }
       .productImg {
        height: 100%; 
       width: 100%;
        
       margin-bottom: 50px;
        /*border: solid green;*/
    
       }
  
       .open {
           width: 90%;
       }
    
  }

  @media screen and (min-width: 1024px){
    .center-img-text {
      padding: 10px;
    }
    .center-img-text > p {
      font-size: calc(0.6vw + 1vh + 0vmin);
   
  }
  .center-content {
      width:80%;  
      max-height: 600px;  
  }
  .boardwalk {
      height: auto;
      width: 100%;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto auto;

}     
   .productImg {
    /*width: 100%;*/
    height: auto;
    max-width: 30vw;
    margin: 20px;
   
    
   }

     .open {
         width: 90%;
     }

  }

