@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Neon&display=swap");
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--page-color);
}

:root {
  --primary-color: #2e4f4f;
  --page-color: #efefef;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 20px;
}
/* HEADER */
.Header {
  height: 50px;
  background-color: var(--primary-color);
}

#leftNav,
.rightNav {
  align-self: center;
  font-size: larger;
  color: #edf1d6;
}

.logo {
  margin: 0 auto;
}

/* Mid Section */

#topImage {
  width: 100%;
}

.topSection {
  position: relative;
}

#firstSlideh1 {
  color: #ddf7e3;
}

#firstParagraph {
  font-weight: bold;
  color: #ddf7e3;
}

#shopButton {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: solid 2px rgb(85, 82, 82);
  background-color: #5e8251;
  text-align: center;
}

.collections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.featuredProduct {
  font-family: "Tilt Neon", cursive;
  font-size: 2.5vw;
}

.filterButton {
  padding: 0.4%;
  border-radius: 20px;
  border: solid 2px rgb(85, 82, 82);
}

.filterButton:hover {
  background-color: var(--primary-color);
  color: var(--page-color);
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 550px;
  text-align: center;
}

.card-image {
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
  width: 300px;
}

.card-image:hover {
  cursor: pointer;
}

.product-card-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.product-card-cost {
  font-size: 1.3rem;
}

@media screen and (max-width: 640px) {
  .firstSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #firstSlideh1 {
    font-size: 1rem;
  }

  #firstParagraph {
    display: none;
  }

  .collections {
    gap: 10px;
  }

  .filterButton {
    width: 70px;
    padding: 0.4%;
    height: 25px;
    font-size: 0.565rem;
  }
}

@media screen and (min-width: 641px) {
  .filterButton {
    width: 100px;
    padding: 0.4%;
    height: 30px;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 940px) {
  .SmallScreens {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
  }

  .hamburger {
    align-self: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 10px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .closeButton {
    display: block;
    position: relative;
    align-self: center;
    top: 10px;
  }

  .closeButton:hover {
    cursor: pointer;
  }

  .sideBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    right: 0;
    width: 35vw;
    right: -500px;
    height: 100%;
    background-color: #3a865c;
    transition: 0.5s;
    z-index: 1;
  }

  .closeButton {
    align-self: flex-start;
  }

  .sideBar.active {
    right: 0px;
  }

  .firstSlide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #firstParagraph {
    padding: 0 5%;
  }
}

@media screen and (min-width: 941px) {
  .LargeScreens {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  .topSection {
    margin: 0 auto 0 auto;
    min-height:450px;
    max-height: 650px;
    overflow: hidden;
    /* height: 500px; */
  }

  .firstSlide {
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
  }

  #firstSlideh1 {
    margin-left: 70px;
    color: #ddf7e3;
    font-size: 1.8rem;
  }

  #shopButton {
    margin: 0;
    margin-left: 70px;
  }

  #firstParagraph {
    grid-row-end: span 2;
    padding: 0 100px 0 100px;
    font-size: 1.3vw;
  }

  .filterButton {
    min-width: 120px;
    width: fit-content;
    padding: 0.4%;
    height: 40px;
    border-radius: 20px;
    border: solid 2px rgb(85, 82, 82);
    font-size: calc(0.23rem + 0.553vw);
  }
}
